/*******
*
*
* Author Name : Pysarenko yura
* Author URI : http://pysarenko.top/
* Version : 1.1
*
*
*******/
body{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;
}
li{
	list-style: none;
}
a:hover, a:visited, a{
	text-decoration: none;
}
h4{
	font-size: 14px;
	color: #008ed6;
	text-transform: uppercase;
	margin-top: 65px;
	font-weight: 700;
}
h2{
	font-size: 36px;
	color: #1a1a1a;
	font-weight: 600;
	margin-bottom: 25px;
	margin-top: 0;
}

/*header area*/
.top-line{
	height: 50px;
	padding: 10px 0;
}
.contact-info {
	display: flex;
	color: #FCFF00;
	padding: 0;
}
.contact-info li {
	margin-right: 25px;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	letter-spacing: 2px;
}
.adress-info {
	color: #FCFF00;
	padding: 0;
	text-align: right;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	letter-spacing: 2px;

}

.top-header{
	background:transparent;
	position: fixed;
	width: 100%;
	z-index: 999;
	transition: all .7s ease 0s;
	-webkit-transition: all .7s ease 0s;
	-moz-transition: all .7s ease 0s;
	-o-transition: all .7s ease 0s;
	-ms-transition: all .7s ease 0s;
}

.logo {
	margin-top: 0;
  margin-bottom: 15px;
}
.top-header img.logo {
	margin-top: 15px;
	transition: all .7s ease 0s;
	-webkit-transition: all .7s ease 0s;
	-moz-transition: all .7s ease 0s;
	-o-transition: all .7s ease 0s;
	-ms-transition: all .7s ease 0s;
}
/* =========menu========== */
.navbar-default {
  background-color: transparent;
  border-color: transparent;
  margin-bottom: 0;
}
.nav-bar{
	margin-top: 28px;
	transition: all .7s ease 0s;
	-webkit-transition: all .7s ease 0s;
	-moz-transition: all .7s ease 0s;
	-o-transition: all .7s ease 0s;
	-ms-transition: all .7s ease 0s;
}
.navbar-toggle span{
	color: #fff;
}
ul.nav{
	margin: 0;
	padding: 0;
}
.navbar-default .navbar-nav>li>a {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #FFFFFF;
	padding: 8px 0;
	margin-left: 55px;
	font-weight: 600;
}
.navbar-default .navbar-nav>li>a::after{
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	background-color: #FCFF00;
	-webkit-transform: translateY(9px) scale(0);
			transform: translateY(9px) scale(0);
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}
.navbar-default .navbar-nav>li>a:hover{
		color: #fff;
}
.navbar-default .navbar-nav>li>a:hover::after{
	-webkit-transform: translateY(9px) scale(1);
    transform: translateY(9px) scale(1);
}
.navbar-default .navbar-nav>li>a.active{
	color: #fff;
	border-bottom: 1px solid #FCFF00;
}
.navbar-default .navbar-toggle {
  border-color: #fff;
}
.sub-lang-mnu{
	height: 0; 
	overflow: hidden; 
	opacity: 0; 
	transition: all 0.5s ease-in;
	position: absolute;;
	left: 12px;
}
.sub-menu {
	height: 0; 
	overflow: hidden; 
	opacity: 0; 
	transition: all 0.5s ease-in;
	position: absolute;
	left: 12px;
	width: 420px;
}
.sub-lang-mnu li,.sub-menu li {
	font-size: 12px;
	line-height: 15px;
	letter-spacing: 2px;
	text-transform: uppercase;
	width: 100%;
	box-sizing: border-box;
}
.sub-lang-mnu li a,.sub-menu li a{
	display: flex;
	width: 100%;
	color: #fff;
	padding: 8px 10px;
	background: #18171D;
	border-bottom: 1px solid #403D4D;
}
.sub-lang-mnu li a:hover,.sub-menu li a:hover{
	color: #000;
	background: #FCFF00;
	transition: all .4s;
}
.fa-chevron-down {
	margin-left: 5px;
}
/*=========banner area===========*/
.banner{
	background: url(../img/welding.jpg) no-repeat center/cover;
	-webkit-box-shadow: 100vw 0 0 rgba(0, 0, 0, 0.8) inset;
	box-shadow: 100vw 0 0 rgba(0, 0, 0, 0.8) inset;
	height: 100vh;
	overflow: hidden;
	padding-left: 15px;
}
.banner h1{
	font-size: 34px;
	line-height: 50px;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-top: 30vh;
	color: #FCFF00;
}
.banner .yellow-line {
	background: #FCFF00;
	height: 1px;
	width: 82%;
}
.banner h3{
	font-size: 20px;
	letter-spacing: 3px;
	margin-top: 20px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 400;
}
.banner p{
	font-size: 18px;
	line-height: 20px;
	letter-spacing: 2px;
	color: #C2C2C2;
	font-weight: 400;
}
.features-btn{
	font-family: Oswald;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 0px;
	align-items: center;
	text-align: center;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #FCFF00;
	background-color: transparent;
	padding: 22px 40px;
	border: 2px solid #FCFF00;
	box-sizing: border-box;
	border-radius: 28px;
	margin-top: 50px;
}
.features-btn:hover{
	color: #000;
	background-color: #FCFF00;
	transition: all .3s;
}

/*==========feature-detail area============*/
.feature-detail{
	background: #dddddd;
	padding-bottom: 35px;
}
.feature-detail h4{
	margin-top: 100px;
	margin-bottom: 15px;
	color: #FCFF00;
	text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.6);
	letter-spacing: 2px;
}
.feature-detail h2{
	margin-bottom: 10px;
	font-family: Montserrat;
	font-size: 26px;
	line-height: 30px;
	text-transform: uppercase;
}
.feature-double-line{
	position: relative;
	background: #18171D;
	height: 1px;
	width: 120px;
	margin: 20px 0 30px;
}
.feature-double-line::before{
	content: '';
	width: 60px;
	height: 1px;
	background: #18171D;
	position: absolute;
	top: 9px;
}
.feature-detail p{
	font-size: 16px;
	color: #000;
	margin-top: 20px;
	line-height: 28px;
	letter-spacing: 1px;
}
.horizontal-phone img{
	margin: 19vh  0;
}

/*slider*/
.wrap-slider {
	padding: 25px 10px;
}
.wrap-slider h2 {
	font-family: Montserrat;
	font-size: 26px;
	line-height: 30px;
	text-transform: uppercase;
	color: #1a1a1a;
	font-weight: 600;
	margin-top: 30px;
	margin-bottom: 25px;
	letter-spacing: 2px;
}

.slider-double-line {
	position: relative;
	background: #18171D;
	height: 1px;
	width: 120px;
	margin: 10px 0 30px;
}
.slider-double-line::before{
	content: '';
	width: 60px;
	height: 1px;
	background: #18171D;
	position: absolute;
	top: 9px;
}

.slider {
	position: relative;
	overflow: hidden;
	max-width: 950px;
	margin: 0 auto;
	padding: 15px 0;
}

.slider__wrapper {
	display: flex;
	transition: transform 0.6s ease;
}

.slider__item {
	flex: 0 0 100%;
	max-width: 100%;
}

.slider__control {
	position: absolute;
	top: 60%;
	display: none;
	align-items: center;
	justify-content: center;
	width: 40px;
	color: #fff;
	text-align: center;
	opacity: 0.5;
	height: 50px;
	transform: translateY(-50%);
	background: rgba(0, 0, 0, .5);
}

.slider__control_show {
	display: flex;
}

.slider__control:hover,
.slider__control:focus {
	color: #fff;
	text-decoration: none;
	outline: 0;
	opacity: .9;
}

.slider__control_left {
	left: 0;
}

.slider__control_right {
	right: 0;
}

.slider__control::before {
	content: '';
	display: inline-block;
	width: 20px;
	height: 20px;
	background: transparent no-repeat center center;
	background-size: 100% 100%;
}

.slider__control_left::before {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control_right::before {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

/*details area*/
.details {
	background-color: #DDDDDD;
}
.details-phone{
background: url(../img/technical-drawing.jpg) no-repeat center / cover;
min-height: 550px;
}
.details h2 {
	font-family: Montserrat;
	font-size: 26px;
	line-height: 30px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #36383F;
	margin-top: 50px;
	margin-left: 8px;
}
.details-double-line {
	position: relative;
	background: #18171D;
	height: 1px;
	width: 120px;
	margin: 20px 0 30px 10px;
}
.details-double-line::before{
	content: '';
	width: 60px;
	height: 1px;
	background: #18171D;
	position: absolute;
	top: 9px;
}
.cards {
	display: flex;
	flex-wrap: wrap;
}
.card {
	margin: 10px;
	padding: 10px;
	background: #DDDDDD;
	border: 1px solid #abb4c0;
}
.card:hover {
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}
.card-title{
	font-size: 26px;
	line-height: 25px;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: #FCFF00;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
}
.card-text {
	font-size: 15px;
	line-height: 25px;
	letter-spacing: 2px;
	color: #000000;
}

/*========features area==========*/

.features h2{
	font-size: 26px;
	line-height: 15px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #36383F;
	padding-top: 40px;
}
.features-double-line {
	position: relative;
	background: #18171D;
	height: 1px;
	width: 120px;
	margin: 0 auto 40px;
}
.features-double-line::before{
	content: '';
	width: 60px;
	height: 1px;
	background: #18171D;
	position: absolute;
	top: 9px;
	left: 25%;
}
.features img {
	width: 70px;
	height: 70px;
} 
.circle-block {
	width: 130px;
	height: 130px;
	padding: 29px;
	border-radius: 50%;
	background: #FFFFFF;
	border: 1px solid #E9EAEB;
	box-sizing: border-box;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	margin: 0 auto;
}
.features h3 {
	font-family: Oswald;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #999999;
}
.features p{
	font-family: Montserrat Light;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 22px;
	text-align: center;
	letter-spacing: 1px;
	color: #000000;
}
.wrap-block {
	background: #FFFFFF;
	border: 1px solid #E9EAEB;
	box-sizing: border-box;
	padding: 20px;
	margin: 15px 0;
}
.wrap-block:hover {
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
	transition: all .2s;
}


/*===========footer section============*/
.footer{
	background: #15141a;
}
.footer {
	padding-top: 30px;
}
.footer p{
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 2px;
	color: #E9EAEB;
	padding-top: 20px;
}
.footer h5 {
	font-size: 20px;
	line-height: 20px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #E9EAEB;
	margin-left: 15px;
}
.footer ul {
	padding-left: 15px;
}
.footer .list-services  li a {
	font-size: 10px;
	line-height: 22px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #C2C2C2;
}
.footer .list-services  li a:hover {
	color: #FCFF00;
	transition: all .3s;
}
.footer .list-adress li a {
	font-size: 12px;
	line-height: 20px;
	letter-spacing: 1px;
	color: #C2C2C2;
}
.footer .icons {
	text-align: center;
}